<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="response.css">
   
</head>
<body>
    <div class="main">
    <section id="home">
        <div class="wall">
            <img class="img" src="home.png" alt="">   
        </div>
        <img class="laptop" src="laptop.png" alt="">
        
    </section>

    <section id="intro">
        <div class="wall2">
            <img class="img" src="introduction.png" alt="">   
        </div>
        <div class="content">
            <div class="net">
                <img src="network.png" alt="" class="neuron">
            </div>
            <div class="head">
                <h1 id="mlh">What is Machine Learning?</h1>
                <div class="def">
                    Machine Learning is a technique to train computer to do
                    something without being explicitly being programmed for.
                    The concept of machine learning works<br>
                    on the series of alogorithms called <b>neural network.</b>
                    A neural netwrok is a network of interconnecting <b>neuron</b> through
                    graph. Each neuron carries weight and gives output once actived through
                    <b>activision function.</b><br>
                    Machine Learning works on statistical techniques to study the alogorithms
                    and predict the posssible output. Unlike general programming techinques,
                    Machine learning works on predictions instead of strictly following the 
                    instructions defined by the programmer.<br>
                    In Machine learning, instead of making series of instructions, we train
                    the machine to do something. We train a model through the collection of samples
                    and once model is trained, we can test it through test input and the classifier 
                    will give the output depending upon what it has learned from the dataset 
  
                </div>
            </div>
            <div class="head">
                <h1 id="mlh">What is Neural Network?</h1>
                <div class="def">
                    A neural network is the core compoenent in machine learning. It is the collection of 
                    layers interconnected to each other to make complex relationship to process the input
                    predict the possible output. A neural network is divided into three general layers:
                    <ul>
                        <li>Input Layer</li>
                        <li>Hidden Layer</li>
                        <li>Output layer</li>
                    </ul>
                    A layer is basically the collection of neurons. A input layer contains the neuron that carries
                    weight of dataset. The input layer is projected to hidden layer where activation function takes place
                    . A hidden layer might be projected into several other hidden layers depending upon the complexity of
                    the neural netwrok. If there are three or more than three hidden layers, it is called <b>deep neural network</b>.
                    A hidden layer is projected to output layer that contains the neuron for holding the ouput weight.
                    The hidden layer carries input from the input layer, apply calculations on it using activision functions and once
                    output is ready, project it to output layer. There are many kinds of neural network
                    <ul>
                        <li>Convolutional Neural Network (CNN)</li>
                        <li>Recurrent Neural Network  (RNN)</li>
                        <li>Feedforward Neural Network  (FNN)</li>
                    </ul>   
                </div>
            </div>
        </div>
   </section>
   
   <section id="lib">
        <div class="lib-title">
            <img src="lib.png" alt="">
        </div>
        <div class="cards">
            <div class="card">
                <div class="background">
                    <div class="avatar">
                        <img src="tf.png" alt="">
                    </div>
                    <div class="libn">
                        Tensorflow
                    </div>
                </div>
                <div class="con">
                    Tensorflow is the most popular open source python library
                    for deep learning developed by the Google. It is the most powerful
                    and optimised library used for machine leaning.
                    <br>
                    <br>
                    <b>Language Support: </b> Python , JavaScript
                    <button class="support">Support</button>
                </div>
            </div>
            <div class="card">
                <div class="background">
                    <div class="avatar">
                        <img src="keras.png" alt="">
                    </div>
                    <div class="libn">
                        Keras
                    </div>
                </div>
                <div class="con">
                    Keras is the open source neural netwrok library. It is also the
                    one of most powerful library used in deep learning. It is primary focused
                    on creating neural network because of being modular and extensible and runs
                    on the top of tensorflow. 
                    <br>
                    <b>Language Support: </b> Python 
                    <button class="support">Support</button>
                </div>
            </div>
            <div class="card">
                <div class="background">
                    <div class="avatar">
                        <img src="ml5.png" alt="">
                    </div>
                    <div class="libn">
                        ML5
                    </div>
                </div>
                <div class="con">
                    ML5 is a open source user-friendly machine learning library. It has
                    made it easier to create neural network. You can use pre-trained model
                    and even can create your own. It is quite powerful tool and best for those
                    who are new to machine learning.
                    <br>
                    <br>
                    <b>Language Support: </b> JavaScript
                    <button class="support">Support</button>
                </div>
            </div>
            <div class="card">
                <div class="background">
                    <div class="avatar">
                        <img src="tourch.png" alt="">
                    </div>
                    <div class="libn">
                        PyTourch
                    </div>
                </div>
                <div class="con">
                    PyTourch is open source machine learning libary widely used for computer vision
                    and natural language processing. It is developed by Facebook AI Research Lab. 
                    <br>
                    <b>Language Support: </b> Python 
                    <button class="support">Support</button>
                </div>
            </div>

        </div>
   </section>

   <section id="play">
    <div class="titleimg">
        <img src="play.png" alt="">
    </div>
    <div class="ground">
        <div class="welcome">
             <div class="msg1">
                 <label class="nh" for="">Play Games</label>
                 <label class="yh">>></label>
             </div>
        </div>
        <div class="games">
                <div class="gList">
                    <div class="item1"><label for="">Dino</label></div>
                    <div class="item2"><label for="">Snake</label></div>
                    <div class="item3"><label for="">Face Detection</label></div>  
                    <div class="item4"><label for="">Catch the Ball</label></div>
                    <div class="item5"><label for="">Let's Dance</label></div>
                  </div>
        </div>
       
    </div>
</section>
    <nav class="navClass">
        <div class="nbar">
        <div class="logo">
            <img src="fav.png" alt="">
        </div>
        <div class="menu">
            <div class="option">
                <div class="i1"></div>
                <div class="i2"></div>
                <div class="i1"></div>
            </div>
            <div class="hlink">
                <ul>
                    <li>
                        <div class="item"><a  class="a" href="#">Home</a>
                            <div class="line "></div>
                        </div>
                    </li>
                    <li>
                        <div class="item"><a class="a" href="#">Introduction</a>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item"><a class="a" href="#">Libraries</a>
                            <div class="line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item"><a class="a" href="#">Sample Application</a>
                            <div class="line"></div>
                        </div>
                    </li>
                </ul>
                 </div>
        </div>
        <div class="link">
            <ul>
                <li>
                    <div class="item"><a  class="a" href="/another">Home</a>
                        <div class="line "></div>
                    </div>
                </li>
                <li>
                    <div class="item"><a class="a" href="#">Introduction</a>
                        <div class="line"></div>
                    </div>
                </li>
                <li>
                    <div class="item"><a class="a" href="#">Libraries</a>
                        <div class="line"></div>
                    </div>
                </li>
                <li>
                    <div class="item"><a class="a" href="#">Sample Application</a>
                        <div class="line"></div>
                    </div>
                </li>
            </ul>
             </div>
        
        </div>
        <div class="pbar"></div>
        </nav>
    </nav>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
    <script src="control.js"></script>
    
</body>
</html>