<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="video.css">
</head>
<body>
    <div class="main">
        <div class="vid">
            <div class="pane">
                <video src="video.mp4" autoplay="true" controls class="video"></video>
            </div>
            <div class="upload">
                <img src="cam.png" alt="">
                <input type="file" placeholder="Enter Video Path from the directory" class="address">
    
                <button class="upv">Upload</button>
            </div>
        </div>
        <div class="c1"></div>
        <div class="c2"></div>
        <div class="middle">
            <img src="movie.png" alt="">
            <label class="play" for="">Let's Play</label>
        </div>
    </div>
  
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-storage.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyD3cRNuHr14As7umCb6kM0md4wD8RbzNis",
      authDomain: "hciserver.firebaseapp.com",
      databaseURL: "https://hciserver.firebaseio.com",
      projectId: "hciserver",
      storageBucket: "hciserver.appspot.com",
      messagingSenderId: "944730393000",
      appId: "1:944730393000:web:7d854cbd4160d89730359d",
      measurementId: "G-R66DV1CJVQ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  <script src="video.js"></script>
</body>
</html>