body{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
}
.c1,.c2{
    position: relative;
    display: none;
    width: 100%;
    height: 50%;
    transition: 0.7s;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.vid{
    position: relative;
    width: 100%;
    height: 700px;
}
.middle{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    transition: 0.7s;
    background: transparent;
    border: white solid 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.middle img{
    position: relative;
    width: 30%;
    transition: 0.4s;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.middle .play{
    position: relative;
    display: none;
    left: 27%;
    top: -15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.middle:hover{
    border-radius: 10px;
    width: 250px;
    height: 70px;
}
.middle:hover img{
    width: 18%;
    left: 15%;
}
.middle:hover label{
    display: block;
}
.pane{
    position: relative;
    margin-top: 20px;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
}
.pane .video{
    width: 100%;
    height: 100%;
}
.upload{
    position: relative;
    top: 20%;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.upload img{
    width: 60px;
}
.upload .address {
    position: relative;
    width: 70%;
    margin-left: 6px;
    height: 25px;
    top: -20px;
    border: none;
    color: #333;
    border-bottom: #4facfe solid 2px;
    outline: none;
}
.upv{
    position: relative;
    top: -10px;
    outline: none;
    border: none;
    background: #4facfe;
    margin-left: 10px;
    color: white;
    margin-top: 30px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.6s;
    cursor: pointer;
}
.upv:hover{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}